
<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100|Londrina+Outline' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Codystar' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Londrina+Outline' rel='stylesheet' type='text/css'>

<div class="catiek">
  catie kennedy
</div>

<div class="forever">
  forever learning<%= image_tag('danglingheart', :size => "225x100") %>
</div>

<div class="meat">

</div>




<div class="space"></div>

<div class="contact"><strong>web developer : front-end : UI : UX</strong></div>

<div class="contactspace"></div>

<div class="contact"><strong>catie kennedy : contact me</strong></div>

<div class="carlton">
  <%= image_tag('carlton')%>
</div>

<div class="links">
  <p id="linkedin"><%= link_to 'Link with me', 'http://www.linkedin.com/in/catiek' %></p>
  <p id="twitter"><%= link_to "Tweet with me", 'http://twitter.com/ckennedyay' %></p>
  <p id="github"><%= link_to "Git with me", 'http://github.com/yaysunshine' %></p>
</div>